<div id="footer">
    <div class="container">
        <div class="box_footer">
            <h4>Thông tin ĐẠI PHÁT</h4>
            <a rel="dofollow" href="#">Giới thiệu</a>
            <a rel="dofollow" href="#">Sơ đồ web</a>
            <a rel="dofollow" href="#">Liên hệ - hợp tác</a>
            <a href="#">Tài khoản ngân hàng</a>
        </div>
        <div class="box_footer">
            <h4>Hỗ trợ mua hàng</h4>
            <a rel="nofollow" href="#">Mua hàng Online</a>
            <a rel="nofollow" href="#">Hướng dẫn mua hàng</a>
            <a rel="nofollow" href="#">Hướng dẫn thanh toán</a>
            <a rel="nofollow" href="#">Mua hàng trả góp</a>
        </div>
        <div class="box_footer">
            <h4>Chính sách chung</h4>
            <a rel="nofollow" href="#">Chính sách bảo hành</a>
            <a rel="nofollow" href="#">Chính sách đổi mới</a>
            <a rel="nofollow" href="#">Chính sách vận chuyển</a>
            <a rel="nofollow" href="#">Chính sách hỗ trợ</a>
        </div>
        <div class="box_footer">
            <h4>Tin tức</h4>

            <a href="#">Tin công nghệ</a>

            <a href="#">Tin khuyến mại</a>

            <a href="#">Tin công ty</a>

            <a href="#">Tuyển dụng</a>

        </div>
        @*<div id="fanpage-footer">
            <div class="fb-page fb_iframe_widget" data-href="#" data-width="300" data-height="130" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=300&amp;height=130&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FAnKhangComputer&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=true&amp;small_header=false&amp;width=300"><span style="vertical-align: bottom; width: 300px; height: 130px;"><iframe name="f180b5582c" width="300px" height="130px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:page Facebook Social Plugin" src="http://www.facebook.com/v2.0/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D42%23cb%3Df2dc30c528%26domain%3Dwww.ankhang.vn%26origin%3Dhttp%253A%252F%252Fwww.ankhang.vn%252Ff3a20d958%26relation%3Dparent.parent&amp;container_width=300&amp;height=130&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FAnKhangComputer&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=true&amp;small_header=false&amp;width=300" style="border: none; visibility: visible; width: 300px; height: 130px;" class=""></iframe></span></div>
        </div>*@
        <div class="clear"></div>
    </div><!--container-->
</div><!--footer-->
<div id="footer_bottom">
    <div class="container">
        <div style="color: #feee02;
    text-transform: uppercase;
    font-size: 15px; font-weight:bold; display:block;">CÔNG TY TNHH MÁY TÍNH VÀ VIỄN THÔNG ĐẠI PHÁT</div>
        <div class="box_footer">
            <div class="box_footer" id="address-footer">
                <h4> CƠ SỞ CHÍNH </h4>
                <span>
                    Địa chỉ: Số 2 Đường Hoàng Hoa Thám - Phường Nguyễn Trãi - TP. Hải Dương -Tỉnh Hải Dương - Việt Nam <br>
                    Điện thoại: (0320) 3.833804/ 3.833805 <br>
                    Fax: (0320) 3.833 804 <br>
                    Mail: sales@daiphat.vn<br>
                </span>
            </div>
        </div>
    </div>
</div>
