<div class="container">
    <style>
        #nav_vertical:hover .ul_menu {
            visibility: visible !important;
            display: block;
        }
    </style>
    <div id="nav_vertical">
        <div class="bg title_nav_verticle"></div>
        <ul class="ul ul_menu">
            <li>
                <span class="icon_menu"><span><img src="~/Content/img/cat_d6409ce788694525a3926ddc77ebaa2b.png" alt="Laptop, Tablet"></span></span><a href="#" class="root">Laptop, Tablet<span class="icon-nav-hover"></span></a>

                <div class="sub_nav" style="left: -2209px; display: none;">

                    <div class="box_cate">
                        <a href="#" class="sub1">Laptop</a>

                        <a href="#" class="sub2">Asus</a>

                        <a href="#" class="sub2">Dell</a>

                        <a href="#" class="sub2">Acer</a>

                        <a href="#" class="sub2">HP</a>

                        <a href="#" class="sub2">Lenovo</a>

                        <a href="#" class="sub2">Toshiba</a>

                        <a href="#" class="sub2">Apple</a>

                        <a href="/#" class="sub2">MSI Gaming</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Máy tính bảng lai Laptop</a>

                        <a href="#" class="sub2">Lenovo</a>

                        <a href="#" class="sub2">Dell</a>

                        <a href="#" class="sub2">Asus</a>

                        <a href="#" class="sub2">HP</a>

                        <a href="#" class="sub2">Acer</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Máy tính bảng</a>

                        <a href="#" class="sub2">Asus</a>

                        <a href="#" class="sub2">Lenovo</a>

                        <a href="#" class="sub2">Acer</a>

                        <a href="#" class="sub2">Dell</a>

                        <a href="#" class="sub2">Samsung</a>

                        <a href="#" class="sub2">Apple Ipad</a>

                    </div>

                </div><!--sub_nav-->

            </li>
            <li>
                <span class="icon_menu"><span><img src="~/Content/img/cat_5a27f436856d4756a0efe2fd848d79d4.png" alt="Máy tính để bàn"></span></span><a href="#" class="root">Máy tính để bàn<span class="icon-nav-hover"></span></a>

                <div class="sub_nav" style="left: -2209px; display: none;">

                    <div class="box_cate">
                        <a href="#" class="sub1">Máy tính Thương hiệu</a>

                        <a href="#" class="sub2">Dell</a>

                        <a href="#" class="sub2">HP</a>

                        <a href="#" class="sub2">Asus</a>

                        <a href="#" class="sub2">Acer</a>

                        <a href="#" class="sub2">Lenovo</a>

                        <a href="#" class="sub2">Intel</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Máy tính All in One</a>

                        <a href="#" class="sub2">Asus</a>

                        <a href="#" class="sub2">HP</a>

                        <a href="#" class="sub2">Dell</a>

                        <a href="#" class="sub2">Lenovo</a>

                        <a href="#" class="sub2">Acer</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Máy tính lắp ráp</a>

                        <a href="#" class="sub2">Máy tính lắp ráp Sinh viên</a>

                        <a href="#" class="sub2">Máy tính lắp ráp Văn phòng</a>

                        <a href="#" class="sub2">Máy tính lắp ráp Đồ họa</a>

                        <a href="#" class="sub2">Máy tính lắp ráp Game</a>

                        <a href="#" class="sub2">Máy tính lắp ráp Giải trí</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Máy chủ - Server</a>

                    </div>

                </div><!--sub_nav-->

            </li>
            <li>
                <span class="icon_menu"><span><img src="~/Content/img/cat_d3306ab36c10519e174cd70561740e69.png" alt="Linh kiện máy tính"></span></span><a href="#" class="root">Linh kiện máy tính<span class="icon-nav-hover"></span></a>

                <div class="sub_nav" style="left: -2209px; display: none;">

                    <div class="box_cate">
                        <a href="#" class="sub1">Linh kiện Laptop</a>

                        <a href="#" class="sub2">Ổ cứng Laptop (HDD)</a>

                        <a href="#" class="sub2">Ram Laptop</a>

                        <a href="#" class="sub2">Sạc Pin Laptop</a>

                        <a href="#" class="sub2">Bàn phím Laptop</a>

                        <a href="#" class="sub2">Ổ quang Laptop (ODD)</a>

                        <a href="#" class="sub2">Pin Laptop</a>

                        <a href="#" class="sub2">HDD Box</a>

                        <a href="#" class="sub2">Màn hình laptop</a>

                        <a href="#" class="sub2">Box chuyển đổi</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Linh kiện Desktop</a>

                        <a href="#" class="sub2">Bàn phím</a>

                        <a href="#" class="sub2">Bo mạch chủ</a>

                        <a href="#" class="sub2">Bộ nhớ trong</a>

                        <a href="#" class="sub2">Bộ vi xử lý</a>

                        <a href="#" class="sub2">Card âm thanh</a>

                        <a href="#" class="sub2">Card đồ họa</a>

                        <a href="#" class="sub2">Chuột máy tính</a>

                        <a href="#" class="sub2">Màn hình</a>

                        <a href="#" class="sub2">Ổ đĩa cứng</a>

                        <a href="#" class="sub2">Ổ đĩa quang</a>

                        <a href="#" class="sub2">Nguồn</a>

                        <a href="#" class="sub2">Vỏ máy tính</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Phần mềm</a>

                        <a href="#" class="sub2">Phần mềm Windows</a>

                        <a href="#" class="sub2">Phần mềm diệt virut</a>

                        <a href="#" class="sub2">Phần mềm Office</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Linh kiện Server</a>

                    </div>

                </div><!--sub_nav-->

            </li>
            <li>
                <span class="icon_menu"><span><img src="~/Content/img/cat_a8aafc2b7d451a37409bddc7ee8a18e9.png" alt="Thiết bị Ngoại vi"></span></span><a href="#" class="root">Thiết bị Ngoại vi<span class="icon-nav-hover"></span></a>

                <div class="sub_nav" style="left: -2209px; display: none;">

                    <div class="box_cate">
                        <a href="#" class="sub1">Ổ cứng gắn ngoài</a>

                        <a href="#" class="sub2">HDD Buffalo</a>

                        <a href="#" class="sub2">HDD Western</a>

                        <a href="#" class="sub2">HDD Transcend</a>

                        <a href="#" class="sub2">HDD Toshiba</a>

                        <a href="#" class="sub2">HDD Hitachi</a>

                        <a href="#" class="sub2">HDD Seagate</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">USB Flash</a>

                        <a href="#" class="sub2">USB JVJ</a>

                        <a href="#" class="sub2">USB Kingston</a>

                        <a href="#" class="sub2">USB Adata</a>

                        <a href="#" class="sub2">USB Transcend</a>

                        <a href="#" class="sub2">USB OSCOO</a>

                        <a href="#" class="sub2">USB SanDisk</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Thẻ nhớ</a>

                        <a href="#" class="sub2">Thẻ nhớ Stick Pro Due</a>

                        <a href="#" class="sub2">Thẻ nhớ XD các loại</a>

                        <a href="#" class="sub2">Thẻ nhớ CF các loại</a>

                        <a href="#" class="sub2">Thẻ nhớ SD các loại</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Loa máy tính</a>

                        <a href="#" class="sub2">Loa SoundMax</a>

                        <a href="#" class="sub2">Loa Edifier</a>

                        <a href="#" class="sub2">Loa Logitech</a>

                        <a href="#" class="sub2">Loa Microlab</a>

                        <a href="#" class="sub2">Loa Divoom</a>

                        <a href="#" class="sub2">Loa Nimbus</a>

                        <a href="#" class="sub2">Loa JS</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Tai nghe</a>

                        <a href="#" class="sub2">Headphone Logitech</a>

                        <a href="#" class="sub2">Headphone Genius</a>

                        <a href="#" class="sub2">Headphone Sony</a>

                        <a href="#" class="sub2">Headphone Creative</a>

                        <a href="#" class="sub2">Headphone SENNHEISER</a>

                        <a href="#" class="sub2">Headphone Altec Lansing</a>

                        <a href="#" class="sub2">Heaphone Microsoft</a>

                        <a href="#" class="sub2">Headphone Fantom</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Các Loại Cáp</a>

                        <a href="#" class="sub2">Cáp USB nối dài</a>

                        <a href="#" class="sub2">Cáp Máy in</a>

                        <a href="#" class="sub2">Cáp HDMI</a>

                        <a href="#" class="sub2">Cáp VGA</a>

                        <a href="#" class="sub2">Cáp Audio</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Thiết bị trợ giảng</a>

                        <a href="#" class="sub2">Bút trình chiếu</a>

                        <a href="#" class="sub2">Bút thông minh</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Reader</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Microphone</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Webcam</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Thiết bị khác</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Ổ Quang cắm ngoài USB (Ext)</a>

                    </div>

                </div><!--sub_nav-->

            </li>
            <li>
                <span class="icon_menu"><span><img src="~/Content/img/cat_1bd42b172e604281749bd1165b8bfe9e.png" alt="Phụ kiện"></span></span><a href="#" class="root">Phụ kiện<span class="icon-nav-hover"></span></a>

                <div class="sub_nav" style="left: -2209px; display: none;">

                    <div class="box_cate">
                        <a href="#" class="sub1">Phụ Kiện Laptop</a>

                        <a href="#" class="sub2">Bộ vệ sinh laptop</a>

                        <a href="#" class="sub2">Túi chống sốc</a>

                        <a href="#" class="sub2">Ba lô - Túi xách</a>

                        <a href="#" class="sub2">Bàn di chuột</a>

                        <a href="#" class="sub2">Đế tản nhiệt</a>

                        <a href="#" class="sub2">Tấm dán màn hình</a>

                        <a href="#" class="sub2">Tấm dán bàn phím</a>

                        <a href="#" class="sub2">Khóa bảo vệ</a>

                        <a href="#" class="sub2">Quạt USB</a>

                        <a href="#" class="sub2">Sạc pin tích điện</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Phụ kiện Máy tính bảng</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Phụ kiện Máy ảnh</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Bao da cho máy tính bảng</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Sạc pin dự phòng</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Ổ cắm điện</a>

                    </div>

                </div><!--sub_nav-->

            </li>
            <li>
                <span class="icon_menu"><span><img src="~/Content/img/cat_f6c8dd5cf8f95e19e99ef874e3edc242.png" alt="Thiết bị mạng"></span></span><a href="#" class="root">Thiết bị mạng<span class="icon-nav-hover"></span></a>

                <div class="sub_nav" style="left: -2209px; display: none;">

                    <div class="box_cate">
                        <a href="#" class="sub1">USB Modem 3G</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Modem,  Router</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Card Mạng</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Mạng không dây</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Printer Server</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Switch</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Thiết Bị Khác</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Camera IP</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">TV Box</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">TV USB</a>

                    </div>

                </div><!--sub_nav-->

            </li>
            <li>
                <span class="icon_menu"><span><img src="~/Content/img/cat_e5eba3424ad2159a0b2d11954edc4d5f.png" alt="Máy văn phòng"></span></span><a href="#" class="root">Máy văn phòng<span class="icon-nav-hover"></span></a>

                <div class="sub_nav" style="left: -2209px; display: none;">

                    <div class="box_cate">
                        <a href="#" class="sub1">Máy Fax</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Máy hủy tài liệu</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Máy In</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Máy Scan</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Thiết bị lưu điện</a>

                    </div>

                </div><!--sub_nav-->

            </li>
            <li>
                <span class="icon_menu"><span><img src="~/Content/img/cat_caf4bb975a1395a5d716cc21ce8726a4.png" alt="Kỹ thuật số"></span></span><a href="#" class="root">Kỹ thuật số<span class="icon-nav-hover"></span></a>

                <div class="sub_nav" style="left: -2209px; display: none;">

                    <div class="box_cate">
                        <a href="#" class="sub1">Máy nghe nhạc MP3</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Máy nghe nhạc, xem phim MP4, MP5</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Máy ghi âm</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Máy ảnh</a>

                    </div>

                    <div class="box_cate">
                        <a href="#" class="sub1">Máy quay phim</a>

                    </div>
                </div><!--sub_nav-->
            </li>
            <li>
                <span class="icon_menu"><span><img src="~/Content/img/cat_1c2260be877cbd5693e493951e8eb430.png" alt="Điện thoại"></span></span><a href="#" class="root">Điện thoại<span class="icon-nav-hover"></span></a>
                <div class="sub_nav" style="left: -2209px; display: none;">
                    <div class="box_cate">
                        <a href="#" class="sub1">Điện thoại HTC</a>
                    </div>
                    <div class="box_cate">
                        <a href="#" class="sub1">Điện thoại Nokia</a>
                    </div>
                    <div class="box_cate">
                        <a href="#" class="sub1">Điện thoại Samsung</a>
                    </div>
                    <div class="box_cate">
                        <a href="#" class="sub1">Điện thoại Iphone</a>
                    </div>
                    <div class="box_cate">
                        <a href="#" class="sub1">Điện thoại Asus</a>
                    </div>
                </div><!--sub_nav-->
            </li>
            <li>
                <span class="icon_menu"><span><img src="~/Content/img/cat_ecf38479fe968c923e51ec4c77726614.png" alt="Tivi"></span></span><a href="#" class="root">Tivi<span class="icon-nav-hover"></span></a>
                <div class="sub_nav" style="left: -2209px; display: none;">
                    <div class="box_cate">
                        <a href="#" class="sub1">Tivi Samsung</a>
                    </div>
                    <div class="box_cate">
                        <a href="#" class="sub1">Tivi LG</a>
                    </div>
                    <div class="box_cate">
                        <a href="#" class="sub1">Tivi Sony</a>
                    </div>
                    <div class="box_cate">
                        <a href="#" class="sub1">Tivi Panasonic</a>
                    </div>
                    <div class="box_cate">
                        <a href="#" class="sub1">Tivi Toshiba</a>
                    </div>
                    <div class="box_cate">
                        <a href="#" class="sub1">Tivi SHARP</a>
                    </div>
                    <div class="box_cate">
                        <a href="#" class="sub1">Tivi TCL</a>
                    </div>
                </div><!--sub_nav-->
            </li>
        </ul>
        <div class="clear"></div>
    </div><!--nav_vertical-->
    <div id="search" class="bg">
        <form method="get" action="/tim" enctype="multipart/form-data">
            <select name="scat_id" id="sel_cat" style="display: none;">
                <option value="0">Tất cả</option>

                <option value="167">Laptop, Tablet</option>

                <option value="179">Máy tính để bàn</option>

                <option value="3">Linh kiện máy tính</option>

                <option value="8">Thiết bị Ngoại vi</option>

                <option value="183">Phụ kiện</option>

                <option value="6">Thiết bị mạng</option>

                <option value="7">Máy văn phòng</option>

                <option value="9">Kỹ thuật số</option>

                <option value="207">Điện thoại</option>

                <option value="84">Tivi</option>

            </select>
            <div id="ul_cat" class="ul">
                <div class="selected"><span>Tất cả</span> <i class="bg icon_drop"></i> </div>
                <ul style="display: none;">
                    <li title="0">Tất cả</li>

                    <li title="167">Laptop, Tablet</li>

                    <li title="179">Máy tính để bàn</li>

                    <li title="3">Linh kiện máy tính</li>

                    <li title="8">Thiết bị Ngoại vi</li>

                    <li title="183">Phụ kiện</li>

                    <li title="6">Thiết bị mạng</li>

                    <li title="7">Máy văn phòng</li>

                    <li title="9">Kỹ thuật số</li>

                    <li title="207">Điện thoại</li>

                    <li title="84">Tivi</li>

                </ul>
            </div>
            <input type="text" class="text" id="text_search" name="q" placeholder="Gõ từ khóa tìm kiếm..." autocomplete="off" style="width: 353px;">
            <input type="submit" id="submit_search" value="Search">
        </form>
        <div class="autocomplete-suggestions" style="display: none;"></div>
    </div><!--search-->
    <ul class="ul" id="nav-hori-right">
        <li class="line_space_nav"></li>
        <li><a href="">Mua hàng online<b>0320.3 833 804</b></a></li>
        <li class="line_space_nav"></li>
        <li><a href="">Hotline <b>0320.6 268 268</b></a></li>
    </ul>
</div>

