
<div id="nav_vertical">
    <ul class="ul ul_menu">
        <li>
            <span class="icon_menu"><span><i class="fa fa-bars"></i></span></span><a href="/Admin/DanhMuc/Index" class="root">Quản Lý Danh Mục<span class="icon-nav-hover"></span></a>
        </li>
        <li>
            <span class="icon_menu"><span><i class="fa fa-tint"></i></span></span><a href="/Admin/ThuongHieu/Index" class="root">Quản Lý Thương Hiệu<span class="icon-nav-hover"></span></a>
        </li>
        <li>
            <span class="icon_menu">
                <span>
                    <i class="fa fa-mobile"></i>
                </span>
            </span>
            <a href="/Admin/SanPham/Index" class="root">
                Quản Lý Sản Phẩm
                <span class="icon-nav-hover">
                </span>
            </a>
        </li>
        <li>
            <span class="icon_menu"><span><i class="fa fa-picture-o"></i></span></span><a href="/Admin/HinhAnh/Index" class="root">Quản Lý Hình Ảnh<span class="icon-nav-hover"></span></a>
        </li>
        <li>
            <span class="icon_menu"><span><i class="fa fa-newspaper-o"></i></span></span><a href="/Admin/TinTuc/Index" class="root">Quản Lý Tin Tức<span class="icon-nav-hover"></span></a>
        </li>
        <li>
            <span class="icon_menu"><span><i class="fa fa-star-o"></i></span></span><a href="/Admin/QuangCao/Index" class="root">Quản Lý Quảng Cáo<span class="icon-nav-hover"></span></a>
        </li>
        <li>
            <span class="icon_menu"><span><i class="fa fa-building"></i></span></span><a href="/Admin/Slide/Index" class="root">Quản Lý Slide<span class="icon-nav-hover"></span></a>
        </li>
        <li>
            <span class="icon_menu"><span><i class="fa fa-user"></i></span></span><a href="/Admin/NhanVien/Index" class="root">Quản Lý Nhân Viên<span class="icon-nav-hover"></span></a>
        </li>
        <li>
            <span class="icon_menu"><span><i class="fa fa-building"></i></span></span><a href="/Admin/NhaPhanPhoi/Index" class="root">Quản Lý Nhà Phân Phối<span class="icon-nav-hover"></span></a>
        </li>
        <li>
                <span class="icon_menu"><span><i class="fa fa-book"></i></span></span><a href="/Admin/HoaDonNhap/Index" class="root">Quản Lý Hóa Đơn Nhập<span class="icon-nav-hover"></span></a>
            </li>
            <li>
                <span class="icon_menu"><span><i class="fa fa-book"></i></span></span><a href="/Admin/HoaDonXuat/Index" class="root">Quản Lý Hóa Đơn Xuất<span class="icon-nav-hover"></span></a>
            </li>
        <li>
            <span class="icon_menu"><span><i class="fa fa-book"></i></span></span><a href="/Admin/ChiTietHoaDonNhap/Index" class="root">Chi tiết hóa đơn nhập<span class="icon-nav-hover"></span></a>
        </li>
    </ul>
    <div class="clear"></div>
</div>